In [1]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {'name': ['John', 'Mary', 'Peter', 'Jane', 'Mark'],
        'age': [25, np.nan, 18, 47, 54],
        'gender': ['M', 'F', 'M', np.nan, 'M']}
df = pd.DataFrame(data)

In [2]:
print(df.isnull())

    name    age  gender
0  False  False   False
1  False   True   False
2  False  False   False
3  False  False    True
4  False  False   False

In [3]:
# Use notnull() function
print(df.notnull())

   name    age  gender
0  True   True    True
1  True  False    True
2  True   True    True
3  True   True   False
4  True   True    True

In [4]:
# Use dropna() function
print(df.dropna())

    name   age gender
0   John  25.0      M
2  Peter  18.0      M
4   Mark  54.0      M

In [5]:
# Use fillna() function
print(df.fillna(0))

    name   age gender
0   John  25.0      M
1   Mary   0.0      F
2  Peter  18.0      M
3   Jane  47.0      0
4   Mark  54.0      M

In [6]:
# Use fillna() function
print(df.fillna(0))

    name   age gender
0   John  25.0      M
1   Mary   0.0      F
2  Peter  18.0      M
3   Jane  47.0      0
4   Mark  54.0      M

In [7]:
# Use replace() function
print(df.replace('M', 'Male'))

    name   age gender
0   John  25.0   Male
1   Mary   NaN      F
2  Peter  18.0   Male
3   Jane  47.0    NaN
4   Mark  54.0   Male

In [8]:
# Use interpolate() function
print(df.interpolate())

    name   age gender
0   John  25.0      M
1   Mary  21.5      F
2  Peter  18.0      M
3   Jane  47.0    NaN
4   Mark  54.0      M

## Combining Data set’s

### Combining Data set’s

In [9]:
# Create two sample DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

# Use concat() function for concatenation
df_concat = pd.concat([df1, df2])
print(df_concat)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [10]:
# Use append() function for appending
df_append = df1.append(df2)
print(df_append)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

C:\Users\Gourav\AppData\Local\Temp\ipykernel_16572\3829199119.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df1.append(df2)

###  Combining Datasets: Merge and Join, Aggregation and Grouping, Pivot Tables

In [11]:
# Creating sample dataframes
df3 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df4 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

In [12]:

# Merge the dataframes based on common key
merged_df = pd.merge(df3, df4, on='key', how='outer')
print(merged_df)

  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      5.0
2   C      3.0      NaN
3   D      4.0      6.0
4   E      NaN      7.0
5   F      NaN      8.0

In [13]:
import pandas as pd

# Creating sample dataframes
df3 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})
df4 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

# Join the dataframes based on common index with specified suffixes
joined_df = df3.set_index('key').join(df4.set_index('key'), how='outer', lsuffix='_left', rsuffix='_right')
print(joined_df)

     value_left  value_right
key
A           1.0          NaN
B           2.0          5.0
C           3.0          NaN
D           4.0          6.0
E           NaN          7.0
F           NaN          8.0

In [14]:
import pandas as pd

# create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'City': ['New York', 'Los Angeles', 'San Francisco', 'New York', 'Los Angeles'],
    'Age': [25, 30, 35, 25, 30],
    'Salary': [50000, 60000, 70000, 55000, 65000]
}

df = pd.DataFrame(data)

# group the data by 'Name' column and calculate the mean of 'Salary' column for each group
grouped_data = df.groupby('Name')['Salary'].mean()

print(grouped_data)

Name
Alice      52500.0
Bob        62500.0
Charlie    70000.0
Name: Salary, dtype: float64

In [15]:
# create a pivot table that groups the data by 'Name' and 'City', and calculates the mean of 'Salary' for each group
pivot_table = df.pivot_table(index='Name', columns='City', values='Salary', aggfunc='mean')

print(pivot_table)

City     Los Angeles  New York  San Francisco
Name
Alice            NaN   52500.0            NaN
Bob          62500.0       NaN            NaN
Charlie          NaN       NaN        70000.0