In [1]:
import pandas as pd

# Create a dictionary of data
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'age': [25, 32, 18, 47, 22],
        'gender': ['F', 'M', 'F', 'M', 'F'],
        'occupation': ['Engineer', 'Manager', 'Student', 'Scientist', 'Teacher']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      name  age gender occupation
0    Alice   25      F   Engineer
1      Bob   32      M    Manager
2  Charlie   18      F    Student
3    David   47      M  Scientist
4    Emily   22      F    Teacher

In [2]:
# Create a Series from a list of values
data = [1, 3, 5, 7, 9]
s = pd.Series(data)

# Print the Series and its data type
print(s)
print(s.dtype)

0    1
1    3
2    5
3    7
4    9
dtype: int64
int64

In [3]:
# Create a sample DataFrame
data0 = {'name': ['John', 'Mary', 'Peter', 'Jane', 'Mark'],
        'age': [25, 32, 18, 47, 54],
        'gender': ['M', 'F', 'M', 'F', 'M']}
df0 = pd.DataFrame(data0)

# Using loc to slice rows and columns by label
print("Using loc:")
print(df0.loc[0:2, 'name':'age'])  # Slice the first three rows and the 'name' and 'age' columns
print(df0.loc[df0['age'] > 30])     # Slice the rows where age is greater than 30
print(df0.loc[df0['gender'] == 'M', 'name':'age'])  # Slice the 'name' and 'age' columns for male rows

# Using iloc to slice rows and columns by position
print("\nUsing iloc:")
print(df0.iloc[0:2, 0:2])  # Slice the first two rows and the first two columns
print(df0.iloc[[0,3], [0,2]])  # Slice the first and fourth rows and the first and third columns

Using loc:
    name  age
0   John   25
1   Mary   32
2  Peter   18
   name  age gender
1  Mary   32      F
3  Jane   47      F
4  Mark   54      M
    name  age
0   John   25
2  Peter   18
4   Mark   54

Using iloc:
   name  age
0  John   25
1  Mary   32
   name gender
0  John      M
3  Jane      F

### 7.1 Fetching all rows & some columns

In [5]:
# Create a sample DataFrame
data1 = {'name': ['John', 'Mary', 'Peter', 'Jane', 'Mark'],
        'age': [25, 32, 18, 47, 54],
        'gender': ['M', 'F', 'M', 'F', 'M']}
df1 = pd.DataFrame(data1)

# Fetch all rows and some columns
df_some_cols = df1.iloc[:, [0, 2]]  # first and third columns
print(df_some_cols)

    name gender
0   John      M
1   Mary      F
2  Peter      M
3   Jane      F
4   Mark      M

### 7.2 Fetching some rows & all columns

In [6]:
df_some_rows = df.iloc[1:4, :]  # second to fourth rows
print(df_some_rows)

      name  age gender occupation
1      Bob   32      M    Manager
2  Charlie   18      F    Student
3    David   47      M  Scientist

### 7.3 Fetching all rows & all columns

In [7]:
# Fetch all rows and all columns
df_all = df.iloc[:, :]
print(df_all)

      name  age gender occupation
0    Alice   25      F   Engineer
1      Bob   32      M    Manager
2  Charlie   18      F    Student
3    David   47      M  Scientist
4    Emily   22      F    Teacher

### 7.4 Using Except (Excluding some columns)

In [8]:
df_except = df.iloc[:, ~df.columns.isin(['age'])]  # exclude 'age' column
print(df_except)

      name gender occupation
0    Alice      F   Engineer
1      Bob      M    Manager
2  Charlie      F    Student
3    David      M  Scientist
4    Emily      F    Teacher

### Describe(), Shape()

In [9]:
print(df1.describe)

<bound method NDFrame.describe of     name  age gender
0   John   25      M
1   Mary   32      F
2  Peter   18      M
3   Jane   47      F
4   Mark   54      M>

In [10]:
print(df1.shape)

(5, 3)